<section class="content-header m-b-40">
  <h1 class="pull-left">
    Users List
  </h1>
  <button type="button" ui-sref="new-user" class="btn btn-primary pull-right">
    <i class="fa fa-plus"></i> Add A New User</button>
</section>
<section class="content" ng-init="clientRoleList()">
  <div class="row">
    <div class="col-xs-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <!-- <li ng-class="{'active':active_tab == 'allUsers'}"  ng-init="getAllUserList()"><a ng-click="tabChange('allUsers')" href="" data-toggle="tab">All Users</a></li> -->
          <li ng-class="{'active':active_tab == role.type}" ng-repeat="role in roleList"><a href="" ng-click="tabChange(role)" data-toggle="tab">{{role.type}}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="allUsers" ng-repeat="role in roleList" ng-class="{'active':active_tab == role.type}">
            <div class="box">
              <div class="box-body over-x-sc">
                <div class="table-responsive">
                  <table ng-table="userData" class="table table-bordered table-hover">
                    <tr ng-repeat="row in $data">
                      <td data-title="'Sl No'">{{ $index + 1}}</td>

                      <td data-title="'Email'" sortable="'email'">{{row.email}}</td>
                      <td data-title="'User Role'" sortable="'user_role'">{{row.role}}</td>

                      <td data-title="'Action'">
                        <div class="btn-group">
                          <button type="button" class="btn btn-success"><a href="" class="option-btn" ui-sref="user-profile"><i class="fa fa-eye"></i></a></button>
                        </div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning" ng-click="updateUser(row)"><i class="fa fa-edit"></i></button>
                        </div>
                        <div class="btn-group">
                          <button type="button" ng-click="deleteUser(row)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-danger">Deactivate</button>
                        </div>

                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
